.End{   
    border-top: 2px solid gray;
    height:10vh; 
    padding-top: 15px;  
    font-weight:500;
    font-size: 15px;
}


/* /////////////////////////////////////////  --- Mobile View --- /////////////////////////////// */
@media screen and (max-width:400px)  {
    .End{   
        border-top: 1px solid gray;
        height:6vh; 
        padding-top: 15px;  
        font-weight:400;
        font-size: 10px;
    }
    
}