.Alert{   
    height:5vh; 
    padding-top: 15px;
    color: white;
    background-color: #2d2f87; 
    font-weight:400;
    font-size: 13.5px;
}


/* /////////////////////////////////////////  --- Mobile View --- /////////////////////////////// */
@media screen and (max-width:400px)  {
    
}